body {
  background-color: #ecf87f;
}

#title {
  text-align: center;
  font-family: monospace;
  font-size: 40px;
  color: #3d550c;
}

#color-palette {
  margin: auto;
  text-align: center;
}

.color {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  background-color: yellow;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

#pixel-board {
  background-color: #81b622;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 250px;
  height: 250px;
  padding-top: 40px;
  padding-left: 40px;
  border-radius: 20px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
  margin-bottom: -4px;
}

.selected {
  border: 5px solid #3d550c;
}

#container-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  background-color: #3d550c;
  padding: 10px;
  color: #ecf87f;
  border-radius: 10px;
  margin-right: 10px;
}

.btn:hover {
  font-size: 20px;
  transition: 100ms;
}

#container-input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#generate-board {
  margin-left: 5px;
}
